/*
.pane {
    -fx-background-color: #99FF33;
    -fx-border-color: black;
}

.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     -fx-border: 2px solid;
     -fx-halignment: center;
     -fx-alignment: CENTER;  
}
*/

#fenetre {
    /* -fx-background-image: url("");
    -fx-background-size: stretch;
    -fx-background-position: no-repeat; */
    /* -fx-background: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, gray, darkgray 75%, dimgray); */
    -fx-background: radial-gradient(center 25% 25%, radius 40%, reflect, #111213 0%, #131934 100%);
}

#titre {
	-fx-font-family: "Gotham Black";
	-fx-text-fill: white;
	-fx-text-shadow: black;
}

.button {
    -fx-border-radius: 5px;
    -fx-padding: 6px;
    -fx-font-size: 14pt;
	-fx-background-color: #111;
	-fx-text-fill: #fff;
	-fx-font-family: "monospace";
}

.button:hover {
	-fx-background-color: #eee;
	-fx-text-fill: #000;
	-fx-border-radius: 10px;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, black, 10px, 0.2, 0, 0);
}